.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main--container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  margin: 3em;
}

.btn--container {
  display: flex;
  /* flex-direction: column; */
  width: max-content;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.item--outer--container {
  display: grid;
  padding: 1rem;
  border-radius: .5rem;
  background-color: rgba(128, 128, 128, 0.214);
}

.item--inner--conainer {
  display: ;
}

.item--container {
  margin-top: 1rem;
  padding: .5rem;
  border-radius: .5rem;
  background-color: rgba(240, 248, 255, 0.053);
}

.item--name {
  justify-self: end;
}

.item--ammount {
  justify-self: start;
}

button {
  cursor: pointer;
  padding: .3rem;
  margin: .2rem;
  border-radius: .2rem;
}

.item {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-bottom: .1rem solid rgb(141, 141, 141);
}

.materials--title {
  margin-bottom: 1rem;
  border-bottom: .1rem solid rgb(141, 141, 141);
}

.components--title {
  justify-self: flex-start;
}

button[data-active=true] {
  background-color: lightcyan;
}

.components--title {
  justify-self: flex-start;
}